<h1 class="text-center">All Thaalis</h1>

<p class="my-3 text-center text-primary fs-4">
    Total Number of thaalis distributed: <span class="fw-bold" id="thaali_counter"><%= Thaali.count %></span>
</p>

<turbo_frame id='new-thaali-form'>
    <%= render 'thaalis/form', thaali: @thaali %>
</turbo_frame>

<table class="table table-hover text-center table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">Thaali Number</th>
            <th colspan="8" scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="thaalis">
        <%= render @thaalis %>
    </tbody>
</table>