<h4 class="text-center">Amakin Mohammadiyah - Dombivili</h4>

<p class="my-4 text-center text-primary fs-6">
    Total Number of thaalis distributed: <span class="fw-bold" id="thaali_counter"><%= Thaali.count %></span>
</p>

<p class="text-center fst-italic text-secondary">Developed & Designed By Juzer Shakir</p>

<turbo_frame id='new-thaali-form' data-controller="live-validation">
    <%= render 'thaalis/form', thaali: @thaali %>
</turbo_frame>

<div>
    <%= turbo_stream_from "thaalis" %>
    <table class="table table-hover text-center table-striped mt-5 table-borderless">
        <thead>
            <tr>
                <th scope="col">Thaali Number</th>
                <th colspan="8" scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="thaalis">
            <%= render @thaalis %>
        </tbody>
    </table>
</div>