<h1 class="text-center">All Thaalis</h1>

<table class="table table-hover text-center table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">Thaali Number</th>
            <th colspan="8" scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <%= render @thaalis %>
    </tbody>
</table>